
html, body {
	/* height: 100%; */
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: $font-primary;
	font-size: $font-primary-size;
	color: $font-primary-color;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	color: $font-primary-color; 
	font-weight: 700;
}
h1 {
	font-family: $font-alternate;
    font-weight: 600;
    font-size: 44px;
    line-height: 48px !important;
    margin-bottom: 15px !important;
    letter-spacing: -.02em;
}
h1.entry-title {
	margin-bottom: 0 !important;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 28px;
	font-family: $font-alternate;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 15px;
}
h5 {
	font-size: 20px;
	border-bottom: 1px solid $brand-primary-alt2;
	color: $brand-accent;
}
h6 {
	font-size: 18px;
	color: $brand-primary-alt2;
}
p {
	font-family: $font-body;
	font-size: $font-primary-size;
    line-height: 26px;
    margin-bottom: 15px !important;
}

.btn-primary {
	background-color: $brand-accent;
	border: 0px solid $brand-primary-alt2;
	border-radius: 5px;
	font-family: 'Montserrat', Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 25px;
}
.btn-outline-primary {
	border-color: #fff;
	color: #fff;
	border-radius: 5px;
	font-family: 'Montserrat', Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 25px;
	border-width: 2px;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 8px rgba(250, 145, 1, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 8px rgba(250, 145, 1, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 8px rgba(250, 145, 1, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 8px rgba(250, 145, 1, 0);}}

.next-event {
	text-align: center !important;
	font-size: 30px !important;
	line-height: 36px !important;
	font-family: $font-primary;
    font-weight: 500;
    margin: 0px 10px !important;
}
.next-event span {
	margin-right: 15px !important;
}
.next-event .btn {
	margin: 15px 0;
}

.default_page_header {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    min-height: 550px;
}
.default_page_header.small_header {
	min-height: 100px;
}
.default_page_header .main_video {
	border: 20px solid #fff !important;
	-khtml-border-radius: 5px !important;
	box-shadow: 0 3px 3px rgba(0,0,0,.2) !important;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.2) !important;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2) !important;
	border-radius: 5px !important;
}

.widget_search {
	.search-submit {
		display: inline;
	}
}

// Overrides here
// Elegant Themes elements
.et_pb_testimonial_description_inner p {
	font-size: 34px !important;
	line-height: 40px !important;
	font-family: $font-primary !important;
    font-weight: 500 !important;
    color: $brand-primary !important;
    padding-bottom: 0 !important;
}
.et_pb_testimonial_author {
	font-weight: 500 !important;
}
.et_pb_testimonial_meta {
	display: none;
}
.et_pb_module p {
	font-family: $font-primary;
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 0;
}
.et_pb_module p a {
	color: $brand-accent !important;
	font-weight: 700;
}


// Gravity Forms elements
.gfield {
	margin-bottom: 25px !important;
}
#et_builder_outer_content input[type="text"], 
#et_builder_outer_content input[type="password"], 
#et_builder_outer_content input[type="number"], 
#et_builder_outer_content input[type="email"],
#et_builder_outer_content textarea {
	background-color: hsla(60,1%,83%,.2)!important;
	border: 1px solid #ccc !important;
	padding: 10px !important;
}
.gfield_label {
	color: $brand-primary;
}

//bbPress Overrides
.bbpress-wrapper {
	font-family: $font-primary !important;
	font-size: 18px !important;
	margin-top: 25px !important;
}
.bbp-breadcrumb {
	display: none  !important;
}
#bbpress-forums li.bbp-header {
    background: #575553;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-family: $font-primary;
}
.bbp-forum-title {
	font-style: 22px !important;
	color: #575553 !important;
}
.bbp-search-form {
	float: left !important;
}
#bbp_search {
	width: 90% !important;
}


// LearnDash Overrides
#sfwd-mark-complete submit,
#learndash_mark_complete_button {
	background-color: $brand-accent;
	border: 0px solid $brand-primary-alt2;
	border-radius: 5px;
	font-family: 'Montserrat', Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 25px;
}
.learndash_content iframe {
	border: 20px solid $brand-primary-alt1;
	border-radius: 5px;
}

//MaxMegaMenu Override
#mega-menu-wrap-primary_navigation {
	background-color: #fff;
	margin: 0 auto;
	margin-right: 0;
}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, 
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
	margin-top: 31px;
}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-megamenu > ul.mega-sub-menu {
	background-color: #fff;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid $brand-primary-alt2;
	border-top-width: 1px;
}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
	font-size: 14px;
	text-align: center;
	color: $brand-primary;
}

// s2Member Overrides
label.s2member-pro-paypal-form-card-type-paypal-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/paypal-card.png) no-repeat top center !important;
}
label.s2member-pro-paypal-form-card-type-visa-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/visa-card.png) no-repeat top center !important;
}
label.s2member-pro-paypal-form-card-type-mastercard-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/mastercard-card.png) no-repeat top center !important;
}
label.s2member-pro-paypal-form-card-type-discover-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/discover-card.png) no-repeat top center !important;
}
label.s2member-pro-paypal-form-card-type-amex-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/amex-card.png) no-repeat top center !important;
}
label.s2member-pro-paypal-form-card-type-maestro-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/maestro-card.png) no-repeat top center !important;
}
label.s2member-pro-paypal-form-card-type-solo-label {
    background: url(http://goodsuccess.wpengine.com/wp-content/plugins/s2member-pro/src/images/solo-card.png) no-repeat top center !important;
}
div.s2member-pro-paypal-form-description-div {
    font-size: inherit !important;
    font-family: inherit !important;
}
div.s2member-pro-paypal-form-section-title {
    font-size: inherit !important;
    margin: 15px 0 5px 0 !important;
    border-width: 0 !important;
    font-family: inherit !important;
    font-size: 24px !important;
}
div.ws-plugin--s2member-pro-login-widget-lost-password>a {
	font-size: inherit !important;
}

//tribe events
.tribe-events-loop .tribe-events-event-meta,
.tribe-events-list .time-details, 
.tribe-events-list .tribe-events-venue-details {
	font-size: 18px;
	line-height: 28px;
	color: #acabaa;
}
.tribe-events-list-separator-month {
    background-color: #eee;
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 1.5em 0 0;
    padding: 6px 10px;
    text-transform: CAPITALIZE;
}
.tribe-clear {
    clear: both;
    margin-bottom: 20px;
}
footer .tribe-events-list-widget .tribe-events-list-widget-events {
	margin: 0;
	padding: 0;
}

// Youtube Pro Plugin
.epyt-pagination {
    text-align: center !important;
    padding: 10px 8px 10px 8px !important;
}
.epyt-gallery-thumb {
    box-sizing: border-box !important;
    display: block !important;
    cursor: pointer !important;
    padding: 0 8px 10px 8px !important;
}
.epyt-gallery-playhover {
    vertical-align: middle !important;
    text-align: center !important;
    transition: opacity ease-out .3s !important;
}
.epyt-gallery-thumb .epyt-gallery-playcrutch {
    vertical-align: middle !important;
}
.epyt-pagination > div, .epyt-pagenumbers > div {
    padding: 0 2px 0 2px !important;
    vertical-align: middle !important;
}


.featured-teammate {
	h2, p {
		color: #fff !important;
	}
	p {
		font-weight: 700 !important;
	}
	div {
		color: #fff !important;
	}
}


.where-wayne {
    background-image: url(/app/themes/sage/dist/images/blurb_calendar.png) !important;
    padding: 3px 0 5px 40px !important;
    font-size: 20px;
    line-height: 24px;
    background-repeat: no-repeat !important;
    background-size: 30px 30px !important;
}
.where-wayne-all {
	margin-left: 30px !important;
	background-image: url(/app/themes/sage/dist/images/blurb_announce.png) !important;
    padding: 3px 0 5px 40px !important;
    font-size: 20px;
    line-height: 24px;
    background-repeat: no-repeat !important;
    background-size: 30px 30px !important;
}

/* Small devices (phone, 300px and up) */
@media (min-width: 300px) { 
	.home .et_pb_testimonial_description_inner {
		margin-left: 0 !important;
	}
	.default_page_header {
		/* background-image: url(/app/themes/sage/dist/images/hero2.jpg) !important; */
	}
	.epyt-gallery {
	    max-width: 95%;
		margin: auto;
	}
	.where-wayne {
	   float: left;
	   margin-left: 0px !important;
	}
	.where-wayne-all {
		margin-left: 0px !important;
		float: left;
	}
}

/* Large devices (phone, 768px and up) */
@media (min-width: 768px) { 
	.where-wayne {
	   margin-left: 30px !important;
	}
	.where-wayne-all {
		margin-left: 30px !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.home .et_pb_testimonial_description_inner {
		margin-left: 20% !important;
	}
	.default_page_header {
		/* background-image: none !important; */
	}
	.epyt-gallery {
	    max-width: 80%;
		margin: auto;
	}
	.where-wayne {
	   float: right;
	}
	.where-wayne-all {
		float: right;
	}
}
