// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:    		rgba(87, 85, 83, 1); 	//#575553
$brand-accent:     		rgba(250, 145, 1, 1); 	//#fa9101
$brand-primary-alt1:    rgba(171, 170, 169, 1); //#abaaa9
$brand-primary-alt2:    rgba(213, 213, 212, 1); //#d5d5d4
$brand-white:    		rgba(255, 255, 255, 1); //#ffffff

// Fonts
$font-primary: 			'Lato', 'Montserrat', sans-serif;
$font-alternate: 		'Montserrat', sans-serif;
$font-body: 			'Myriad Pro','PT Sans',sans-serif;
$font-primary-size:		18px;	
$font-primary-color:	$brand-primary;	

